@import url(../styles/graphic_chart.css);
@import url(../styles/index.css);
@import url(../navbar/navbar.css);
@import url(../styles/footer.css);


/*========== SECTION 1: HEADER ========== */
main>header:nth-of-type(1) {
    min-height: 50vh;
    background:
        linear-gradient(rgba(0, 0, 0, .45), rgba(0, 0, 0, .45)),
        url("https://images.pexels.com/photos/22845394/pexels-photo-22845394.jpeg") center/cover no-repeat;
    display: grid;
    grid-template-columns: minmax(300px, 520px) minmax(280px, 1fr);
    gap: var(--space-xl);
    align-items: center;
    justify-content: center;
    padding: var(--space-xl) calc(var(--space-xl) * 2);
    color: var(--color-bg);
    text-shadow: 2px 2px 2px var(--color-red);

    article {
        max-width: 52ch;
        justify-self: start;

        h1 {
            font-size: calc(var(--font-size-h1) *2);
            margin-bottom: var(--space-md);
            text-align: left;
            color: var(--color-bg);
            white-space: nowrap;
        }

        p:first-of-type {
            margin-bottom: calc(var(--space-lg) *2);
            color: var(--color-bg);
            text-align: left;
        }
    }
}


.liste-livres {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
}

.boutons-sous-categorie {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.carte-livre {
  width: 300px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: transform 0.3s;
  display: inline-block;
  vertical-align: top;
}

.carte-livre:hover {
  transform: scale(1.05);
}

.image-container {
  position: relative;
  width: 100%;
  height: 300px;
}

.image-livre {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.8);
  color: #fff;
  padding: 10px;
  transform: translateY(100%);
  transition: transform 0.3s;
  font-size: 14px;
  line-height: 1.4;
  h4{
    text-align: center;
    margin: 0;
    color: #fff;}
    .shopping-icons{
      display: flex;
      justify-content: space-between;
      gap: 10px;
      margin-bottom: 10px;
    }
    .icon-panier{
     filter: invert(1);
    }
}

.image-container:hover .overlay {
  transform: translateY(0);
}
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 50px; 
    padding: 0 20px;
    box-sizing: border-box;
}

.carousel-track-container {
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 20em;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    flex: 0 0 calc((100% - 40px) / 3); 
    display: flex;
    align-items: center;
}

.carousel-slide img {
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px; 
    box-shadow: 5px 5px 5px black;
}

.carousel-button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 12px 16px;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 2;
}

.carousel-button.prev { 
    left: 15px; 
}
.carousel-button.next { 
    right: 15px; 
}

.visuallyhidden {
    position: absolute; 
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0); 
    border: 0;
}